.container-title{
    display: flex;
    align-items: center;
    justify-content: center;
}


.title{
    font-size: 50px;
}

.image{
    display: flex;
    justify-content: center;

}

.image-steganographie{
    width: 700px;
    height: 400px;
    cursor:default;
}

#consigne{
    text-align: center;
    color: black;
}
#timer{
    font-size:30px;
}